<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    <div class="library">
        <div class="rows table-delete left">
            <table>
                <tr>
                    <th>Удалить</th>
                </tr>
                {% for author in authors %}
                        {% for book in author.books %}
                <tr id="{{ book.id }}" class="tr_{{ book.id }}">
                    <td>
                        <div class="button-wrapper">
{#                        <form id="delete_form" method="delete" class="delete_form">#}
{#                            <input type="submit" value="x" onclick="()=>{console.log('hello world')}">#}
{#                        </form>#}

                            <button type="submit" onclick="delete_book({{ book.id }})">x</button>
                        </div>
                    </td>
                </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
        <div class="table-library left" id="table-library">
            <table>
                <tr>
                    <th>
                        Название
                    </th>
                    <th>
                        Автор
                    </th>
                </tr>
                    {% for author in authors %}
                        {% for book in author.books %}
                <tr id="{{ book.id }}" class="tr_{{ book.id }} table_rows">
                    <td class="book_name">
                        {{ book.name }}
                    </td>
                    <td class="author_name">
                        {{ author.name }}
                    </td>
                </tr>
                        {% endfor %}
                {% endfor %}
            </table>
        </div>
        <div class="rows table-update left">
            <table>
                <tr>
                    <th>Изменить</th>
                </tr>
                {% for author in authors %}
                        {% for book in author.books %}
                <tr id="{{ book.id }}" class="tr_{{ book.id }}">
                    <td>
                        <a href="/books/update/{{ author.id }}/{{ book.id }}">x</a>
                    </td>
                </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
        <div class="rows search left">
            <table>
                <tr>
                    <th>
                        <label>
                            <input type="search" oninput="search(this.value)">
                        </label>
                    </th>
                </tr>
            </table>
        </div>
    </div>
    <script defer>
    function search(text) {
        let tableLibrary = document.getElementById('table-library')
        let tableRows = tableLibrary.getElementsByClassName("table_rows")

        for(let row of tableRows) {
           if (!row.textContent.toLowerCase().includes(text.toLowerCase())) {
               hide_tr(row.getAttribute('id'))
           } else {
               show_tr(row.getAttribute('id'))
           }
        }

    }

    function delete_book(id) {
        $.ajax({
            url: '/books/delete/' + id,
            type: 'delete',
            success: (res) => {
                console.log('DELETED')
            },
            error: (err) => {
                console.log("err: ", err)
            }
        })
        hide_tr(id)
        delete_id_on_tr(id)
    }
    const hide_tr = (id) => {
        let elems = document.getElementsByClassName('tr_'+id)
        for(let e of elems) {
            e.setAttribute('style', "display:none")
        }
    }

    const delete_id_on_tr = (id) => {
        let elems = document.getElementsByClassName('tr_'+id)
        for(let e of elems) {
            e.removeAttribute('id')
        }
    }

    const show_tr = (id) => {
        let elems = document.getElementsByClassName('tr_'+id)
        for(let e of elems) {
            e.removeAttribute('style')
        }
    }
    </script>
{% endblock %}